/* GENERAL */
#hp-bg {position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:-1;}
#main, #page {background:none;}
#primary {max-width:1000px; background:#fff; margin:auto; padding-bottom:50px;}
.entry-header {display:none;}
#page-fade {position:fixed; top:0px; left:0px; width:100%; height:100%; background:#00335b; opacity:0.5; z-index:900; display:none;}

/* HEADER */
.site-header .home-link {text-align:center;}
#psp-logo {margin-top:25px; margin-bottom:50px; max-width:100%;}
.site-header .home-link {min-height:100%;}

/* FOOTER */
footer.site-footer {background:#00335b; color:#fff; padding-bottom:20px;}
footer.site-footer a {color:#fff; position:relative; float:left; text-decoration:none; margin-left:20px;}
footer.site-footer a:hover {color:#ebf0f8;}
#site-credit {position:relative; float:right; margin-right:20px;}

/* NAVIGATION */
div.navbar {background:#00335b; border-bottom:2px solid #5476a4;}
ul.nav-menu, div.nav-menu > ul {text-align:center; padding-right:0px;}
.nav-menu li {width:20%; min-width:150px;}
.nav-menu li a {color:#fff; font-size:16px; font-family:'Sathu'; text-transform:uppercase;}
.nav-menu li:hover > a, .nav-menu li a:hover {background:#5476a4; color:#fff; text-transform:uppercase;}
.nav-menu .current_page_item > a, .nav-menu .current_page_ancestor > a, .nav-menu .current-menu-item > a, .nav-menu .current-menu-ancestor > a {background:#5476a4; 
	font-weight:normal; color:#fff; text-transform:uppercase; font-style:normal;}
ul.nav-menu ul a, .nav-menu ul ul a {background:#00335b; color:#fff; border:none;}
ul.nav-menu ul a:hover, .nav-menu ul ul a:hover {background:#5476a4; color:#fff;}

.menu-toggle {color:#fff;}

/* HOMEPAGE */
#top-banner-container {position:relative; width:100%; min-height:400px; background:#5574a2;}
#hp-slideshow-container {position:relative; float:left; width:450px; height:350px; margin-top:25px; margin-left:25px; background:#fff; border:2px solid #00335b; }
#hp-top-content {position:relative; float:left; width:450px; margin-left:25px; color:#fff; text-align:center; margin-top:50px; font-family:'Afta sans'; font-size:22px; 
	line-height:40px; font-weight:bold; letter-spacing:2px;}
#top-banner-container .slideshow-nav, #top-banner-container .pscarousel {display:none;}
#top-banner-container .slideshow-content a {width:100%;}
#top-banner-container .slideshow-content img, #top-banner-container .slideshow-wrapper {max-width:396px; max-height:346px;}
#top-banner-container .portfolio-slideshow, #top-banner-container .slideshow-content {margin:0px;}

#hp-divider {position:relative; margin-top:25px; margin-bottom:25px; text-align:center; width:100%;}
#hp-divider img {width:90%;}

#hp-bottom-content {position:relative; width:80%; margin-left:10%; text-align:center; font-size:18px; font-family:'Afta sans'; color:#00335b; letter-spacing:2px;}

#secondary {display:none;}

#hp-bottom-box-container {position:relative; width:100%; margin-top:25px; min-height:250px;}
#center-boxes {margin:auto; width:800px;}
#hp-bottom-box-container .bottom-box {position:relative; float:left; width:250px; height:250px; border:2px solid #00335b; margin-left:8px; margin-right:8px;
	border-top-left-radius:     15px 15px;
	border-top-right-radius:    15px 15px;
	border-bottom-right-radius: 15px 15px;
	border-bottom-left-radius:  15px 15px;}
.hp-box-title {position:relative; float:left; width:100%; background:#00335b; color:#fff; font-size:18px; font-family:'Sathu'; font-weight:bold; height:50px; 
	margin-top:-1px; text-align:center; padding-top:15px;
	border-top-left-radius:     13px 13px;
	border-top-right-radius:    13px 13px;}
.hp-box-content {position:relative; float:left; color:#00335b; font-size:16px; font-family:'Afta sans'; text-align:center; margin-top:15px; width:90%; margin-left:5%;}
.hp-box-content a {text-decoration: none;}
#hp-contact-button {position:relative; margin:auto; width:200px; height:60px; color:#fff; background:#5476a4; padding-top:15px; margin-top:15px; font-size:18px;}
#hp-contact-button:hover {background:#a7bbb0; color:#00335b;}

/* FORMS */
.form-field-title {font-weight:bold; font-size:18px; margin-top:50px;}
.ninja-forms-form-wrap h2 {text-transform:uppercase;}
.ninja-forms-form label {font-weight:bold;}
.ninja-forms-all-fields-wrap .textarea-wrap.ninja-subquestion-wrap {margin-top:0px;}
.ninja-forms-all-fields-wrap .ninja-subquestion-wrap label {font-weight:normal;}
.ninja-forms-all-fields-wrap .ninja-forms-field p {margin-bottom:0px;}
.ninja-forms-all-fields-wrap .text-wrap {margin-top:25px; margin-right:25px; width:275px; float:left;}
.ninja-forms-all-fields-wrap .spam-wrap {margin-top:25px; width:100%; float:left;}
.ninja-forms-all-fields-wrap .textarea-wrap, .ninja-forms-all-fields-wrap .form-field-title {float:left; width:100%; margin-top:25px;}
.ninja-forms-all-fields-wrap textarea, .ninja-forms-all-fields-wrap input {border:2px solid #e1ecfc; background:#ebf0f8;}
.ninja-forms-all-fields-wrap textarea:focus, .ninja-forms-all-fields-wrap input:focus {background:#fff;}
.ninja-forms-all-fields-wrap .ninjap-submit-button-wrap {float:left;}
.ninja-forms-form .ninja-forms-all-fields-wrap .ninjap-submit-button-wrap input.ninjap-submit-button {margin-left:0px !important; margin-top:20px; color:#fff; background:#00335b;}
.ninja-forms-form .ninja-forms-all-fields-wrap .ninjap-submit-button-wrap input.ninjap-submit-button:hover {background:#5476a4;}

/* CONTACT */
.page-template-contact-php #primary article {padding-top:10px;}

.contact-title {position:relative; width:100%; font-size:30px; font-weight:bold; margin-bottom:20px;}
.wpcf7-form input, .wpcf7-form textarea {border:2px solid #e1ecfc; background:#ebf0f8;}
.wpcf7-form input:focus, .wpcf7-form textarea:focus {background:#fff;}
.wpcf7-form input.wpcf7-submit {margin-top:10px; color:#fff; background:#00335b;}
.wpcf7-form input.wpcf7-submit:hover {background:#5476a4;}

#top-contact-container {position:relative; width:100%; background:#5476a4; padding-top:25px; padding-bottom:25px;}
#map-container {position:relative; margin:auto; width:600px; height:300px; border:2px solid #00335b;}
#contact-info {position:relative; width:100%; text-align:center; margin-top:10px; color:#fff;}
#contact-info .contact-name {font-size:16px; font-weight:bold;}
#contact-info .contact-email a {text-decoration:none; color:#fff;}
#contact-info .contact-email a:hover {color:#00335b;}
#contact-divider{position:relative; margin-top:25px; text-align:center; width:100%;}
#contact-divider img {width:90%;}

/* PROFESSIONAL SERVICES */
#prof-serv-main-title {position:relative; width:100%; padding-top:25px; color:#00335b; font-size:30px; font-weight:bold; text-align:center;}
.prof-serv-cont {position:relative; width:100%; min-height:350px; padding-top:25px;}
.prof-serv-title {position:relative; margin:auto; width:80%; margin-left:10%; height:60px; padding-top:20px; background:#5476a4; color:#fff; text-align:center;
	font-size:18px; font-weight:bold; font-family:'Sathu'; text-transform:uppercase; }

.service-list-container {position:relative; margin:auto; width:900px; height:500px;}

.serv-title-cont {position:relative; float:left; width:300px; padding:10px; min-height:75px;}
.serv-title {position:relative; float:left; width:100%; text-align:center; font-size:14px; margin-top:25px; font-weight:bold;}
.serv-excerpt {position:relative; float:left; width:80%; margin-left:10%; font-size:12px; margin-top:25px; text-align:center; height:85px;}
.service-view-more {position:relative; float:left; width:100%; text-align:center; margin-top:25px;}
.view-more-button {position:relative; margin:auto; width:200px; height:40px; padding-top:7px; background:#00335b; color:#fff;
	text-transform:uppercase; text-decoration:none; cursor:pointer;}
.view-more-button:hover {background:#5476a4;}

.service-list-container .consult-cont {width:445px;}

.close-overlay {position:absolute; top:15px; right:15px; width:15px; cursor:pointer; z-index:500;}

.service-overlay {position:fixed; width:700px; height:475px; padding:5px; display:none; background:#fff; z-index:1000; border:3px solid #00335b;}
.overlay-border {position:absolute; width:685px; border:2px solid #5476a4; height:98%;}
.overlay-logo-cont {position:relative; width:100%; float:left; text-align: center;}
.overlay-logo {position:relative; margin-top:10px; width:300px;}
.overlay-title {position:relative; float:left; width:100%; text-align:center; margin-top:15px; font-size:18px; font-weight:bold; margin-bottom:10px;}
.overlay-divider {position:relative; float:left; width:100%; text-align:center;}
.overlay-divider img {width:90%;}
.overlay-content {position:relative; float:left; width:620px; height:300px; margin-left:25px; margin-top:20px; padding-bottom:50px; text-align:center;
	overflow-y:auto;}





