/* GENERAL */
#hp-bg {position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:-1;}
#main, #page {background:none;}
#primary {max-width:1000px; background:#fff; margin:auto; padding-bottom:50px;}
.entry-header {display:none;}
#page-fade {position:fixed; top:0px; left:0px; width:100%; height:100%; background:#00335b; opacity:0.5; z-index:900; display:none;}
.psp-bold {font-weight:bold;}

/* HEADER */
.site-header .home-link {text-align:center;}
#psp-logo {margin-top:25px; margin-bottom:50px; max-width:100%;}
.site-header .home-link {min-height:100%;}

/* FOOTER */
footer.site-footer {background:#00335b; color:#fff; padding-bottom:20px;}
footer.site-footer a {color:#fff; position:relative; float:left; text-decoration:none; margin-left:20px;}
footer.site-footer a:hover {color:#ebf0f8;}
#site-credit {position:relative; float:right; margin-right:20px;}

/* NAVIGATION */
div.navbar {background:#00335b; border-bottom:2px solid #5476a4;}
ul.nav-menu, div.nav-menu > ul {text-align:center; padding-right:0px;}
.nav-menu li {width:19%; min-width:125px;}
.nav-menu li a {color:#fff; font-size:12px; font-family:'Sathu'; text-transform:uppercase;}
.nav-menu li:hover > a, .nav-menu li a:hover {background:#5476a4; color:#fff; text-transform:uppercase;}
.nav-menu .current_page_item > a, .nav-menu .current_page_ancestor > a, .nav-menu .current-menu-item > a, .nav-menu .current-menu-ancestor > a {background:#5476a4; 
	font-weight:normal; color:#fff; text-transform:uppercase; font-style:normal;}
ul.nav-menu ul a, .nav-menu ul ul a {background:#00335b; color:#fff; border:none;}
ul.nav-menu ul a:hover, .nav-menu ul ul a:hover {background:#5476a4; color:#fff;}

.menu-toggle {color:#fff;}

/* HOMEPAGE */
#top-banner-container {position:relative; width:100%; min-height:400px; background:#5574a2;}
#hp-slideshow-container {position:relative; float:left; width:450px; height:350px; margin-top:25px; margin-left:25px; background:#fff; border:2px solid #00335b; }
#hp-top-content {position:relative; float:left; width:450px; margin-left:25px; color:#fff; text-align:center; margin-top:60px; font-family:'Afta sans'; font-size:18px; 
	line-height:40px; font-weight:bold; letter-spacing:2px;}
#top-banner-container .slideshow-nav, #top-banner-container .pscarousel {display:none;}
#top-banner-container .slideshow-content a {width:100%;}
#top-banner-container .slideshow-content img, #top-banner-container .slideshow-wrapper {max-width:396px; max-height:346px;}
#top-banner-container .portfolio-slideshow, #top-banner-container .slideshow-content {margin:0px;}
#top-banner-container div#shslideshow_2 div.slides img, #top-banner-container div#shslideshow_2, #top-banner-container div#shslideshow_2 div.slides {width:446px; height:346px;}
#top-banner-container div#shslideshow_nav_2 {display:none;}

#hp-divider {position:relative; margin-top:25px; margin-bottom:25px; text-align:center; width:100%;}
#hp-divider img {width:90%;}

#hp-bottom-content {position:relative; width:80%; margin-left:10%; text-align:center; font-size:18px; font-family:'Afta sans'; color:#00335b; letter-spacing:2px;}

#secondary {display:none;}

#hp-bottom-box-container {position:relative; width:100%; margin-top:25px; min-height:250px;}
#center-boxes {margin:auto; width:800px;}
#hp-bottom-box-container .bottom-box {position:relative; float:left; width:250px; height:250px; border:2px solid #00335b; margin-left:8px; margin-right:8px;
	border-top-left-radius:     15px 15px;
	border-top-right-radius:    15px 15px;
	border-bottom-right-radius: 15px 15px;
	border-bottom-left-radius:  15px 15px;}
.hp-box-title {position:relative; float:left; width:100%; background:#00335b; color:#fff; font-size:18px; font-family:'Sathu'; font-weight:bold; height:50px; 
	margin-top:-1px; text-align:center; padding-top:15px;
	border-top-left-radius:     13px 13px;
	border-top-right-radius:    13px 13px;}
.hp-box-content {position:relative; float:left; color:#00335b; font-size:16px; font-family:'Afta sans'; text-align:center; margin-top:15px; width:90%; margin-left:5%;}
.hp-box-content a {text-decoration: none; color:#5476A4;}
.hp-box-content a:hover {text-decoration: none; color:#00335B;} 
#hp-contact-button {position:relative; margin:auto; width:200px; height:60px; color:#fff; background:#5476a4; padding-top:15px; margin-top:15px; font-size:18px;}
#hp-contact-button:hover {background:#a7bbb0; color:#00335b;}


/* CONTACT */
.page-template-contact-php #primary article {padding-top:10px;}

.contact-title {position:relative; width:100%; font-size:30px; font-weight:bold; margin-bottom:20px;}
.wpcf7-form input, .wpcf7-form textarea {border:2px solid #e1ecfc; background:#ebf0f8;}
.wpcf7-form input:focus, .wpcf7-form textarea:focus {background:#fff;}
.wpcf7-form input.wpcf7-submit {margin-top:10px; color:#fff; background:#00335b;}
.wpcf7-form input.wpcf7-submit:hover {background:#5476a4;}

#top-contact-container {position:relative; width:100%; background:#5476a4; padding-top:25px; padding-bottom:25px;}
#map-container {position:relative; margin:auto; width:600px; height:300px; border:2px solid #00335b;}
#contact-info {position:relative; width:100%; text-align:center; margin-top:10px; color:#fff;}
#contact-info .contact-name {font-size:16px; font-weight:bold;}
#contact-info .contact-email a {text-decoration:none; color:#fff;}
#contact-info .contact-email a:hover {color:#00335b;}
#contact-divider{position:relative; margin-top:25px; text-align:center; width:100%;}
#contact-divider img {width:90%;}

#ninja_forms_form_2_process_msg, #ninja_forms_form_2_response_msg, #ninja_forms_form_1_process_msg, #ninja_forms_form_1_response_msg {font-size:22px;}

/* PROFESSIONAL SERVICES */
#prof-serv-main-title {position:relative; width:100%; padding-top:25px; color:#00335b; font-size:30px; font-weight:bold; text-align:center;}
.prof-serv-cont {position:relative; width:100%; min-height:450px; margin-top:25px;}
.prof-serv-title {position:relative; margin:auto; width:80%; margin-left:10%; height:60px; margin-top:25px; background:none; color:#00335b; text-align:center;
	font-size:20px; font-weight:bold; font-family:'Sathu'; text-transform:uppercase; }
.prof-serv-subtitle	{position:relative; width:100%; height:25px; background:none; color:#00335b; text-align:center;
	font-size:16px; font-weight:bold; font-family:'Sathu'; }
.service-divider-cont {position:relative; float:left; width:100%; margin-top:25px; text-align:center; margin-bottom:25px;}
.service-divider {width:90%;}

.service-list-container {position:relative; margin:auto; width:900px; height:400px; padding-top:50px;}

.serv-title-cont {position:relative; float:left; width:300px; padding:10px; min-height:75px;}
.serv-title {position:relative; float:left; width:100%; text-align:center; font-size:14px; font-weight:bold;}
.serv-excerpt {position:relative; float:left; width:80%; margin-left:10%; font-size:12px; margin-top:25px; text-align:center; min-height:100px;}
.serv-title span {text-decoration:none; color:#5476A4; cursor:pointer;}
.serv-title span:hover {text-decoration:underline; color:#00335b;}
.view-more-button {position:relative; margin:auto; width:200px; height:40px; padding-top:7px; background:#00335b; color:#fff;
	text-transform:uppercase; text-decoration:none; cursor:pointer;}
.view-more-button:hover {background:#5476a4;}

.service-list-container .consult-cont {width:445px;}

.single .site-header, .single #hp-bg, .single footer {display:none;}
.single .single-service-logo-cont {width:100%;}
.single .single-service-logo {width:100%; max-width:500px; position:relative; margin:auto; margin-bottom:25px; margin-top:25px;}
.single .single-service-logo-cont, .single .single-service-title, .single .single-service-divider {text-align:center; width:100%;}
.single .single-service-content {width:90%; position:relative; margin:auto;}
.single .single-service-divider img {width:90%;}
.single .single-service-title {font-size:22px; color:#00335b;}
.single .single-service-divider {margin-top:10px; margin-bottom:20px;}
.single .print-footer-info {width:100%; text-align:center; margin-top:50px; color:#00335b;}

.single-pdf_doc .site-header, .single-pdf_doc #hp-bg, .single-pdf_doc footer {display:block; }
.single-pdf_doc .single-service-logo-cont {width:100%;}
.single-pdf_doc .single-service-logo {width:100%; max-width:500px; position:relative; margin:auto; margin-bottom:25px; margin-top:25px;}
.single-pdf_doc .single-service-logo-cont, .single-pdf_doc .single-service-title, .single-pdf_doc .single-service-divider {text-align:center; width:100%;}
.single-pdf_doc .single-service-content {width:90%; position:relative; margin:auto;}
.single-pdf_doc .single-service-divider img {width:90%;}
.single-pdf_doc .post-navigation {text-align:center;}
.single-pdf_doc .post-navigation .nav-links {text-align:center;}
.single-pdf_doc .post-navigation .nav-links a[rel="next"] {padding-left:20px; padding-right:20px; position:relative; float:none;}

/* FORMS */
.form-link {font-size:18px;}
.forms-page .prof-serv-cont {min-height:250px;}
.forms-page .prof-serv-cont .service-list-container {height:200px;}
.checkbox-wrap, .list-multi-wrap {min-height:250px; float:left;}
.ninja-forms-all-fields-wrap .list-checkbox-wrap {min-height:50px; float:left; border:1px solid #000; margin-bottom:0px; width:100%;}
.ninja-forms-all-fields-wrap .list-checkbox-wrap ul {padding:0px; position:relative; float:left; margin:10px 0px;}
.ninja-forms-all-fields-wrap .list-checkbox-wrap ul li {border:1px solid #CCCCCC;list-style-type: none; position:relative; float:left; padding-right:5px;}
.checkbox-wrap label, .list-multi-wrap label, .ninja-forms-all-fields-wrap .list-checkbox-wrap label, .list-checkbox-wrap input {font-weight:normal;}
.ninja-forms-all-fields-wrap .list-checkbox-wrap label {text-decoration:none; position:relative; float:left; width:99%; margin-left:1%; font-weight:bold;}
.ninja-forms-all-fields-wrap .list-checkbox-wrap ul li label {text-decoration:none; width:100%;}
.ninja-forms-all-fields-wrap .list-checkbox-wrap span ul li input {width:20px;}
.ninja-forms-all-fields-wrap .list-checkbox-wrap span ul li label {font-weight:normal;}
select.ninja-forms-field option {border:1px solid #E1ECFC;}
.ninja-forms-form-wrap .ninja-forms-form .ninja-forms-all-fields-wrap .ninja-dev-field-wrap span ul li {padding-left:0px !important; padding-right:2px !important;}
.ninja-forms-form-wrap .ninja-forms-form .ninja-forms-all-fields-wrap .ninja-dev-field-wrap .ninja-dev-field {margin-left:0px !important; margin-right:0px !important; width:18px;}
.ninja-forms-form-wrap .ninja-forms-form .ninja-forms-all-fields-wrap .wp_themeSkin iframe {background:#E1ECFC;}
.form-field-title {font-weight:bold; font-size:18px; margin-top:50px;}
.ninja-forms-form-wrap h2 {text-transform:uppercase;}
.ninja-forms-form label {font-weight:bold;}
.ninja-forms-all-fields-wrap .textarea-wrap.ninja-subquestion-wrap {margin-top:0px;}
.ninja-forms-all-fields-wrap .ninja-subquestion-wrap label {font-weight:normal;}
.ninja-forms-all-fields-wrap .ninja-forms-field p {margin-bottom:0px;}
.ninja-forms-all-fields-wrap .text-wrap {margin-top:25px; margin-right:25px; width:275px; float:left;}
.ninja-forms-all-fields-wrap .spam-wrap, .ninja-forms-all-fields-wrap .ninja-submit-button-wrap {margin-top:25px; width:100%; float:left;}
.ninja-forms-all-fields-wrap .textarea-wrap, .ninja-forms-all-fields-wrap .form-field-title {float:left; width:100%; margin-top:25px;}
.ninja-forms-all-fields-wrap textarea, .ninja-forms-all-fields-wrap input, select.ninja-forms-field {border:2px solid #e1ecfc; background:#ebf0f8; }
.ninja-forms-all-fields-wrap .ninja-field-wrap input {width:300px;}
.ninja-forms-all-fields-wrap textarea:focus, .ninja-forms-all-fields-wrap input:focus {background:#fff;}
.ninja-forms-all-fields-wrap .ninjap-submit-button-wrap, .ninjap-submit-button-wrap {float:left;}
.ninja-forms-form .ninja-forms-all-fields-wrap .ninja-submit-button-wrap input.ninja-submit-button {margin-left:0px !important; margin-top:20px; color:#fff; background:#00335b;}
.ninja-forms-form .ninja-forms-all-fields-wrap .ninja-submit-button-wrap input.ninja-submit-button:hover {background:#5476a4;}
.ninja-subtitle {float:left; width:100%; margin-top:0px; font-weight:bold; font-size:16px;}
.ninja-forms-all-fields-wrap .ninja-subtitle-wrap {margin-top:0px;}
.ninja-forms-field-error, .ninja-forms-success-msg {color:#DF0101; font-weight:bold; position:absolute;}
.ninja-forms-success-msg {position:absolute; bottom:20px; text-transform:uppercase; font-size:18px;}
.ninja-forms-form  textarea.ninja-field, .ninja-forms-form  textarea.ninja-subquestion {width:100%;}

#ninja_forms_form_2_process_msg, #ninja_forms_form_2_response_msg, #ninja_forms_form_1_process_msg, #ninja_forms_form_1_response_msg {font-size:20px; position:relative;}


/* ABOUT */
.about-container {position:relative; width:100%;}
.about-single-cont, .about-title, .about-cont {position:relative; margin:auto; width:90%; text-align:center;}
.about-single-cont {margin-bottom:20px;}
.about-title {font-size:20px; font-weight:bold; margin-bottom:20px; text-transform:uppercase;}
.about-cont {font-size:14px; font-weight:normal;}


/* SERVICE OVERLAYS */
.close-overlay {position:absolute; top:15px; right:15px; width:15px; cursor:pointer; z-index:500;}

.service-overlay {position:fixed; width:700px; height:475px; padding:5px; display:none; background:#fff; z-index:1000; border:3px solid #00335b;}
.overlay-border {position:absolute; width:685px; border:2px solid #5476a4; height:98%;}
.overlay-logo-cont {position:relative; width:100%; float:left; text-align: center;}
.overlay-logo {position:relative; margin-top:10px; width:300px;}
.overlay-title {position:relative; float:left; width:100%; text-align:center; margin-top:15px; font-size:18px; font-weight:bold; margin-bottom:10px;}
.overlay-divider {position:relative; float:left; width:100%; text-align:center;}
.overlay-divider img {width:90%;}
.overlay-content {position:relative; float:left; width:620px; height:290px; margin-left:25px; margin-top:10px; padding-bottom:50px; text-align:center;
	overflow-y:auto;}
.print-service {width:300px; height:20px; position:relative; margin:auto; font-size:13px;}
.print-service-link {position:relative; float:left; width:100%; text-align:center; margin-top:10px;}

/* Page Restriction */
.entry-content form p label input#log, .entry-content form p label input#pwd {margin-top:10px; margin-bottom:10px;}
.pagerestrict-p {text-align:center; font-family:'Afta sans';}


/* Regsiter */
#wpmem_reg form label.text, #wpmem_reg form div.div_text {width:100%; font-family:'Afta sans'; letter-spacing:2px; }
#wpmem_login form .button_div {margin-top:20px; margin-bottom:20px;}
#wpmem_reg legend, #wpmem_login legend {font-family:'Sathu'; letter-spacing:2px;}
#wpmem_reg form .button_div .buttons, #wpmem_reg form .req-text {font-family:'Afta sans'; letter-spacing:2px; font-weight:bold;}

/* Login */
.flexible-frontend-login {position:absolute; top:10px; right:50px; z-index:1000;}
.ffl-popup-content {z-index:1000;}
.ffl-close-popup-link {cursor:pointer;}
#ffl-logged-in-user a, a#ffl-logout-link, a.ffl-popup-link {color:#fff;}
#ffl-logged-in-user a:hover, a#ffl-logout-link:hover {color:#CA3C08;}

/* Profile */
article .entry-content strong {font-family:'Sathu'; font-size:28px;}
article .entry-content ul {list-style:none;}
article .entry-content ul code a {color:#5476A4; font-family:'Afta sans'; letter-spacing:2px; font-size:18px; line-height:40px;}
article .entry-content ul code a:hover {color:#00335b; font-family:'Afta sans'; letter-spacing:2px; }

#wpmem_reg form fieldset label {font-weight:bold;}
#wpmem_login form fieldset label, #wpmem_login form div.div_text {width:100%; font-family:'Afta sans'; letter-spacing:2px;}
