@media (max-width: 850px) {
	.lp-contact-text, .lp-map {width:90%; margin-top:0px;}
	.lp-map {margin-bottom:20px;}
	.landing-page-section .lp-contact-form .lp-contact-field {width:100%;}
	.landing-page-section .lp-contact-form textarea {width:290px;}
}

@media (max-width: 600px) {
	.landing-page-section .lp-section-title, .landing-page-section .lp-services {font-size:26px; height:34px;}
	.landing-page-section .title-int-box {padding-bottom:1px; padding-top:2px;}
 	.lp-about-us-text, .lp-services-text {width:90%; font-size:12px; line-height:18px;}
 	.lp-contact-text {font-size:20px;}
 	.lp-contact-text .lp-email, .lp-contact-text .office-hours {font-size:15px;}
 	.landing-page-section .lp-contact-form label {font-size:12px; height:22px;}
 	.landing-page-section .lp-contact-form .lp-contact-field input {width:250px; height:22px;}
 	.lp-contact-form .wpcf7-submit {font-size:20px;}
}